{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static '/assets/img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Docker Management
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
  <!-- CSS Files -->
  <link href="{% static '/assets/css/material-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static '/assets/demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white"
      data-image="{% static '/assets/img/sidebar-1.jpg' %}">

      <div class="logo">
        <a href="#" class="simple-text logo-normal">
          Docker Management
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">

          <li class="nav-item active ">
            <a class="nav-link" href="#">
              <i class="fab fa-docker"></i>
              <p>Meus Containers</p>
            </a>
          </li>


        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">Meus Containers</a>
          </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form"> {% csrf_token %}
              <div class="input-group no-border">
                <input onkeyup="search()" id="pesquisar" type="text" value="" class="form-control"
                  placeholder="Pesquisar...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>


            <ul class="navbar-nav">

              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  {% if notify %}
                  <span class="notification">1</span>
                  {% endif %}

                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href={{url}}>{{msn}}</a>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </nav>

      <!-- End Navbar -->

      <div class="content">
        <div class="container-fluid">

          <!-- Modal -->
          <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"> Novo Container</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="docker-form" id="docker_form">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Nome do Container</label>
                        <input required id="name" type="text" class="form-control" pattern="[A-Za-z0-9_]+">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Porta</label>
                        <input required id="port" type="text" class="form-control" pattern=".[0-9]{3}">
                      </div>
                    </div>

                    <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Nginx
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Nginx</a>

                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      <button type="submit" class="btn btn-primary">Criar </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div style="display: none" id="alert-success" class="alert alert-success alert-dismissible fade show"
            role="alert">
            <strong><span id="status-s"></span> </strong> <span id="message-s"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div style="display: none" id="alert-danger" class="alert alert-danger alert-dismissible fade show"
            role="alert">
            <strong><span id="status-d"></span> </strong> <span id="message-d"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Fim do Modal -->
          <div class="row">
            <div class="col-md-3">
              {% if status == 0 %}
              <button href="#" data-toggle="modal" data-target="#create" target="_blank" disabled
                class="btn btn-primary btn-block"> <i class="fa fa-plus fa-2x"></i> &nbsp; Container</button>
              {% else %}
              <button href="#" data-toggle="modal" data-target="#create" target="_blank"
                class="btn btn-primary btn-block"> <i class="fa fa-plus fa-2x"></i> &nbsp; Container</button>
              {% endif %}
            </div>
            <div class="col-md-12">
              <div class="card">

                <div class="card-header card-header-primary">
                  <h4 class="card-title "><i class="fab fa-docker fa-2x"> </i> Containers</h4>
                  <p class="card-category"> </p>
                </div>
                <div class="card-body">

                  <div id="table" class="table-responsive">
                    <table id="table_docker" class="table">

                      {% if status == 0 %}

                      <a class="dropdown-item" href={{url}}>{{os}}: {{msn}}</a>

                      {% endif %}

                      {% if status == 1 %}

                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Docker Name
                        </th>
                        <th>
                          Port
                        </th>
                        <th>
                          Docker status
                        </th>
                        <th>

                        </th>
                      </thead>
                      <tbody>
                        {% for item in dockers.lista %}
                        <tr>

                          <td>
                            {{item.ID}}
                          </td>
                          <td>
                            {{item.Names}}
                          </td>
                          <td>
                            {{item.Ports|slice:"0:12"}}
                          </td>
                          <td>

                            {% if "Paused" in item.Status %}
                            <button onclick='edit("{{item.Names}}", "{{item.ID}}", "{{item.Status}}")' data=""
                              id="status_{{item.ID}}" target="_blank" class="btn btn-secondary"> <i
                                class="fas fa-play"></i></button>
                            {% else %}
                            <button onclick='edit("{{item.Names}}", "{{item.ID}}", "{{item.Status}}")'
                              data="{{item.ID}}" id="status_{{item.ID}}" target="_blank" class="btn btn-secondary"> <i
                                class="fas fa-pause"></i></button>
                            <a href="http://{{item.Ports|slice:'0:12'}}" target="_blank" class="btn btn-secondary"> <i
                                class="fas fa-eye"></i></a>
                            {% endif %}
                          </td>
                          <td class="text-primary">

                            <button onclick="delet('{{item.Names}}', '{{item.ID}}')" target="_blank"
                              class="btn btn-danger"> <i class="fa fa-trash"></i></button>

                          </td>

                        </tr>
                        {% endfor %}

                      </tbody>
                      {% endif %}
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">

          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, Thiago Braga
          </div>
        </div>
      </footer>
    </div>
  </div>

  <!--   Core JS Files   -->
  <script src="{% static '/assets/js/core/jquery.js' %}"></script>
  <script src="{% static '/assets/js/vanilla-masker.min.js' %}"></script>
  <script src="{% static '/assets/js/core/popper.min.js' %}"></script>
  <script src="{% static '/assets/js/core/bootstrap-material-design.min.js' %}"></script>
  <script src="{% static '/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!-- Plugin for the momentJs  -->
  <script src="{% static '/assets/js/plugins/moment.min.js' %}"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="{% static '/assets/js/plugins/sweetalert2.js' %}"></script>
  <!-- Forms Validations Plugin -->
  <script src="{% static '/assets/js/plugins/jquery.validate.min.js' %}"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="{% static '/assets/js/plugins/jquery.bootstrap-wizard.js' %}"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="{% static '/assets/js/plugins/bootstrap-selectpicker.js' %}"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="{% static '/assets/js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="{% static '/assets/js/plugins/jquery.dataTables.min.js' %}"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="{% static '/assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="{% static '/assets/js/plugins/jasny-bootstrap.min.js' %}"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="{% static '/assets/js/plugins/fullcalendar.min.js' %}"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="{% static '/assets/js/plugins/jquery-jvectormap.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static '/assets/js/plugins/nouislider.min.js' %}"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="{% static '/assets/js/plugins/arrive.min.js' %}"></script>
  <!-- Chartist JS -->
  <script src="{% static '/assets/js/plugins/chartist.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static '/assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static '/assets/js/material-dashboard.js' %}" type="text/javascript"></script>
  <!-- Material Dashboard  -->
  <script src="{% static '/assets/demo/demo.js' %}"></script>
  <!-- Filter -->
  <script src="{% static '/assets/js/table_search.js' %}"></script>
  <!-- Custom -->
  <script src="{% static '/assets/js/custom.js' %}"></script>

</body>

</html>